<nav class="navbar">
  <h1><%= link_to "Event platform", events_path, :class => 'logo' %></h1>
  <ul class="text-grey">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete , :class => 'text-grey' %>
    <% else %>
      <%= link_to "sign in", new_user_session_path, :class => 'text-grey'  %>
    <% end %>
  </ul>
</nav>