<div class="space-between">
  <h2>your events </h2>
  <%= link_to "new events", new_event_path %>
</div>


<% if @events %>
  <% @events.each do |event| %>
    <div>
      <h3><%= event.name %></h3>
      <p><%= event.start_date.to_s(:custom)  %></p>
      <%= link_to "view event", event_path(event) %>
    </div>
  <% end %>
<% else %>
  <h1>You have no events</h1>
<% end %>
