<div>
  <h4><%= @event.name %></h4>
  <%= link_to "Edit", edit_event_path(@event) %>

  <%= link_to "Delete", event_path(@event),
              method: :delete,
              data: {confirm: 'Are you sure?'}%>
</div>